{% extends "base.html" %}

{% block content %}
<h2>Debug</h2>
<div class="row justify-content-center">
    <div class="col-6">
        <p>Compute API</p>
        <ul>
            <li><a href="/test/calibrate_camera">/test/calibrate_camera</a></li>

            <li><a href="/test/sendply">/test/sendply</a></li>
            <li><a href="/test/sendpicture">/test/sendpicture</a></li>
            <li><a href="/test/errorlog">/test/errorlog</a></li>
            <li><a href="/test/upgrade">/test/upgrade</a></li>
            <li><a href="/test/flash_led">/test/flash_led</a></li>
            <li><a href="/test/include_masks">/test/include_masks</a></li>
            <br>
            <li><a href="/train/">/train - Home for training</a></li>
            <li><a href="/train/showresult">/train/showresult</a></li>
            <br>
            <li><a href="/data/">/data - Show data folders</a></li>
        </ul>
    </div>
    {% endblock %}