{% extends "base.html" %}

{% block content %}

<h1>System INDEX</h1>
<br>
Selected device is {{device}}
<br>
<br>

<a href="/test/test" class="btn btn-lg btn-primary">Test</a>&nbsp;
<br><br>
<a href="/test/debug" class="btn btn-lg btn-primary">Debug</a>&nbsp;
<br><br>
<a href="/test/device" class="btn btn-lg btn-primary">Device</a>&nbsp;
<br><br>
<a href="/test/inference" class="btn btn-lg btn-primary">Inference</a>&nbsp;
<br><br>


<br><br>
<h3>Documentation</h3>
<br>
<a href="/test/install_models" class="btn btn-lg btn-primary">Install Models</a>

{% endblock %}