{% extends "base.html" %}

{% block content %}

<h1>System Debug</h1>
<br>
Selected device is {{device}}
<br>
<br>
<a href="test/start_scan" class="btn btn-lg btn-primary">Start Scan</a>
<a href="test/show_pictures?folder=device/{{device}}/input/1/" class="btn btn-lg btn-primary">Last results</a>
<a href="test/show_pictures" class="btn btn-lg btn-primary">Display results</a>
<br><br>
<a href="test/start_scan5" class="btn btn-lg btn-primary">Start Scan5</a>&nbsp;
<a href="test/calc5" class="btn btn-lg btn-primary">Calc5</a>&nbsp;
<a href="test/show5" class="btn btn-lg btn-primary">show5</a>&nbsp;
<a href="test/proc_scan" class="btn btn-lg btn-primary">Proc Scan</a>
<br><br>
<a href="test/receiveblender" class="btn btn-lg btn-primary">Receive Blender</a>
<a href="test/receiveblender5" class="btn btn-lg btn-primary">Receive5</a>
<br><br>
<a href="test/genstitch" class="btn btn-lg btn-primary">generate Stitch</a>&nbsp;
<a href="test/stitchfolder" class="btn btn-lg btn-primary">Stitch Folder</a>
<br><br>
<h3>Debug</h3>
<br>
<a href="test/debug" class="btn btn-lg btn-secondary">Debug</a>
<br><br>
<h3>Documentation</h3>
<br>
<a href="test/install_models" class="btn btn-lg btn-primary">Install Models</a>

{% endblock %}