{% extends "base.html" %}

{% block content %}
<div class="container">
<h1>Installation of new models</h1>
<br>
<ol>
    <li>Copy the new models to server folder /var/www/danbots/compute/data/nnmodels</li>
    <li>Rename the old model files</li>
    <li>Rename the new model files to H_model.h5 and L_model.h5 </li>
    <li>Restart the webserver ($sudo systemctl restart apache2.service)</li>
</ol>

<h3>file transfer</h3>
The files can be copied to the server with:
<ul>
    <li><code>$ rcp &lt;local_file&gt; &lt;user&gt;@sal2.local:/&lt;destignation&gt;</code></li>
</ul>

</div>

{% endblock %}
