{% extends "base.html" %}
{% load filename %}

{% block content %}
<style>
    .imgbox {
        float: left;
        text-align: center;
    }

    img {
        margin: 4px;
        border: black solid 1px;
        height: 300px;
        width: 300px;
    }

    .pic {
        border: red solid 1px;
        height: 250px;
        width: 250px;
    }
</style>
<h2>Showing picture in folder</h2>
Path: {{path}}
<br>
{% if linkprev %}
<a href="{{linkprev}}">Forrige</a> &nbsp;
<a href="{{link}}">Næste</a>
<br>
{% endif %}

<a href="/">Index</a> &nbsp; <a href="/test/test">Test</a>
<br>

<!-- <a href="?next=-1&index={{index}}">Prev</a>
<a href="?next=1&index={{index}}">Next</a> -->
<br>

{% for pic in pictures %}
<div class="imgbox">
    <a href="{{pic}}"> <img class="pic" src="{{pic}}" alt="{{pic}}" xheight="400"></a><br>
    {{pic|filename}}
</div>
{% endfor %}

{% endblock %}
