{% extends "base.html" %}

{% block content %}

<h1>Test & Demonstrations</h1>
<h2>Process Testdata Folder set</h2>
<br>
<a href="{% url 'process_folder_set' %}?folder=testdata/device/serie1/input" class="btn btn-lg btn-primary">Process Folder serie1</a>&nbsp;
<a href="{% url 'process_folder_set' %}?folder=testdata/device/serie2/input" class="btn btn-lg btn-primary">Process Folder serie2</a>&nbsp;
<a href="{% url 'process_folder_set' %}?folder=testdata/device/serie3/input" class="btn btn-lg btn-primary">Process Folder serie3</a>&nbsp;
<a href="{% url 'show_set' %}?number=10" class="btn btn-lg btn-primary">Show_set</a>&nbsp;
<a href="{% url 'show_pictures' %}?folder=device/folder/input/&number=1" class="btn btn-lg btn-primary">Show 1</a>&nbsp;
<a href="{% url 'convert2samir' %}?folder=device/folder/input/&number=1" class="btn btn-lg btn-primary">Convert2Samir</a>&nbsp;

<br>
<h2>Simulations</h2>
Folder: {{blenderset}} <br>
<a href="{% url 'receiveblender' %}" class="btn btn-lg btn-primary">Process Blender</a>&nbsp;<br>
<br>
<a href="{% url 'show_pictures' %}?folder=device/blender/input/&number=1" class="btn btn-lg btn-primary">Show Blender</a>&nbsp;
<a href="{% url 'receiveblender5' %}" class="btn btn-lg btn-primary">Receive5</a>&nbsp;
<a href="{% url 'show_set' %}" class="btn btn-lg btn-primary">Show5 blender</a>&nbsp;
<br>
<h3>Stitching</h3>
<br>
<a href="/test/stitch_model?folder=testdata/bunny/data" class="btn btn-lg btn-primary">Stich Model</a>&nbsp;
<a href="/test/stitchfolder" class="btn btn-lg btn-primary">Stitch Folder</a>


<br><br>
<h2>Device scan</h2>
<br>
Selected device is {{device}}
<br>

<a href="/test/start_scan" class="btn btn-lg btn-primary">Start Scan</a>&nbsp;
<a href="/test/calc_scan" class="btn btn-lg btn-primary">Calc Scan</a>&nbsp;
<a href="/test/show_pictures?folder=device/{{device}}/input/1/" class="btn btn-lg btn-primary">Last results</a>&nbsp;
<a href="/test/show_pictures" class="btn btn-lg btn-primary">Display results</a>
<br><br>
<a href="/test/start_scan5" class="btn btn-lg btn-primary">Start Scan5</a>&nbsp;
<a href="/test/calc5" class="btn btn-lg btn-primary">Calc5</a>&nbsp;
<a href="{% url 'show_set' %}?folder=device/MYDEVICE/input/?number=10" class="btn btn-lg btn-primary">Show_set</a>&nbsp;

<a href="/test/proc_scan" class="btn btn-lg btn-primary">Proc Scan</a>
<br><br>
<a href="/test/folder" class="btn btn-lg btn-primary">Receive Folder</a>&nbsp;
<a href="/test/folder5" class="btn btn-lg btn-primary">Receive Folder 5</a>&nbsp;
<a href="{% url 'show_set' %}?folder=device/folder/input" class="btn btn-lg btn-primary">Show_set</a>&nbsp;
<br><br>
<a href="/test/processfolder" class="btn btn-lg btn-primary">Process Folder</a><input name="folder>" value="folder">&nbsp;
<a href="{% url 'show_set' %}" class="btn btn-lg btn-primary">Show_set</a>&nbsp;

<br><br>
<a href="/test/stitch_model" class="btn btn-lg btn-primary">Stich Model</a>&nbsp;
<a href="/test/genstitch" class="btn btn-lg btn-primary">generate Stitch</a>&nbsp;
<a href="/test/stitchfolder" class="btn btn-lg btn-primary">Stitch Folder</a>
<br><br>
<a href="/test/mesh" class="btn btn-lg btn-primary">Mesh</a>
<br><br>
<h3>Debug</h3>
<br>
<a href="/test/debug" class="btn btn-lg btn-secondary">Debug</a>
<br><br>
<h3>Documentation</h3>
<br>
<a href="/test/install_models" class="btn btn-lg btn-primary">Install Models</a>

{% endblock %}